/* esercizio 1 */

.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}


/* esercizio 2 */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}


/* esercizio 3 */

.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square:hover {
    transition: background-color 2s;
    background-color: #F5F5F5;
}

/* esercizio 5 */

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}


/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}


/* esercizio 7 */

.ex-7-img:hover {
    filter: sepia(0.7);
    transition: 3s;
}


/* esercizio 8 */

.ex-8-img:hover {
    filter: sepia(0.7);
    transition: 3s;
    border-radius: 25px;
}


