/* esercizio 1 */

.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}


/* esercizio 2 */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}


/* esercizio 3 */

.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square:hover {
    transition: background-color 2s;
    background-color: #F5F5F5;
}

/* esercizio 5 */

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
}


/* esercizio 6 */

.ex-6-img:hover {
    filter: grayscale(1);
}


/* esercizio 7 */

.ex-7-img:hover {
    filter: sepia(0.7);
    transition: 3s;
}


/* esercizio 8 */

.ex-8-img:hover {
    filter: sepia(0.7);
    transition: 3s;
    border-radius: 25px;
}


/* esercizio 9 */

.ex-9-img {
    transition: 3s;
}

.ex-9-img:hover {
    filter: sepia(0.7);
    border-radius: 25px;
    transform: scale(1.4);
}


/* escercizio 10 */

.ex-10-icon {
    animation: rotazione-antioraria 0.8s linear;
    animation-iteration-count: infinite;
}

@keyframes rotazione-antioraria {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-72deg);
    }
    40% {
        transform: rotate(-144deg);
    }
    60% {
        transform: rotate(-216deg);
    }
    80% {
        transform: rotate(-288deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


/* esercizio 11 */

.ex-11-icon:hover {
    animation: rotazione-oraria 1s linear;
    animation-iteration-count: infinite;
}

@keyframes rotazione-oraria {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(180deg);
    }
    80% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: su-1 3s linear;
}
@keyframes su-1 {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: gi첫-1 3s linear;
}
@keyframes gi첫-1 {
    0% {
        right: 10%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 10%;
    }
}


/* esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
    animation: su-2 3s linear;
}

@keyframes su-2 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: gi첫-2 3s linear;
}
@keyframes gi첫-2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}







