/* esercizio 1 */

.ex-1-square {
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}


/* esercizio 2 */

.ex-2-square {
    transition: width 3s;
}

.ex-2-square:active {
    width: 100%;
}


/* esercizio 3 */

.ex-3-square {
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */

.ex-4-square:hover {
    transition: background-color 2s;
    background-color: #F5F5F5;
}
